{% extends "base.html" %}

{% block title_content %}
Leadership
{% endblock %}

{% block page_content %}

<h2 align="center">Leadership</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for employee in employees %}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ employee.photo.url }}" alt="employee" width="100%" height="100%">
            <div class="card-body">
                <h6>{{ employee.name }} {{employee.second_name }}</h6>
                <p class="card-text">{{ employee.post}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                href="{% url 'employee' employee.pk %}">View</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<hr class="featurette-divider">
<h3 align="center">Senior Leadership</h3>
<br>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
    {% for senior_employee in senior_employees %}
    <div class="col">
        <div class="card-body">
            <h4><a href="{% url 'senior employee' senior_employee.pk %}">{{ senior_employee.name }}
                {{senior_employee.second_name }}</a></h4>
            <p class="card-text">{{ senior_employee.post}}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}