{% extends "base.html" %}

{% block title_content %}
About
{% endblock %}

{% block page_content %}


<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">What Do You Mast Know About BUSINETWORK?</h1>
            <p class="lead my-3">The history of our company's foundation can motivate young students to develop their
                ideas and follow their dreams.</p>
            <p class="lead mb-0"><a href="{% url 'history' %}" class="text-white fw-bold">Read about history</a></p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">

            <article class="blog-post">
                <h3>Our Company Helps People.</h3>
                <p>The company gives young professionals the opportunity to get a job with a good salary and prove
                    themselves in interesting projects.
                    The company supports the establishment of a new business by its employees. Equality is our main
                    goal. We will support you on your way to success!</p>
                <h6><strong>BUSINETWORK - empowering people.</strong></h6>
                <br>
                <hr>
                <h2 class="blog-post-title mb-1">Climate Policy</h2>


                <p>Climate change is one of the greatest challenges of our time. To avoid the worst effects, we all need
                    to act now to sharply reduce greenhouse gas emissions. And business is an essential part of the
                    solution.

                    BUSINETWORK will advocate for science-based national and international climate
                    policies that are consistent with achieving net-zero emissions by 2050 and fairly and equitably
                    address the needs of all stakeholders. We believe market-based, emissions-reduction policies are
                    critical to achieving greenhouse gas emissions reductions necessary to eliminating the worst effects
                    and mitigating the impacts of climate change while supporting economic growth.

                    For the long term, we are targeting zero emissions across our global operations by 2040, without
                    relying on carbon offsets. We plan to achieve this goal by (1) harvesting enough wind, solar and
                    other renewable energy sources to power our facilities with 100% renewable energy by 2035; (2)
                    electrifying and zeroing out emissions from our vehicle fleet by 2040; and (3) transitioning to
                    low-impact refrigerants for cooling and electrified equipment for heating and backup power
                    generation in our stores, clubs and data and distribution centers by 2040.

                </p>
                <hr>
                <h2>Global Anti-Corruption Policy</h2>
                <p>BUSINETWORK is committed to maintaining the highest possible ethical
                    standards and complying with all applicable laws. In all its operations, BUSINETWORK seeks to avoid
                    even the appearance of impropriety with respect to the actions of any of its officers, directors,
                    associates, employees, agents or representatives. This Policy prohibits corrupt payments in all
                    circumstances whether in dealings with Government Officials or individuals in the private
                    sector.</p>

            </article>


        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Our Main Idea</h4>
                    <p class="mb-0"><strong>Reliable company finishes first</strong></p>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}