{% extends "base.html" %}
{% load static %}

{% block title_content %}
Contacts
{% endblock %}

{% block page_content %}


<!--<section id="container">-->
<!--    <div class="wrap-container clearfix">-->
<!--        <div id="main-content">-->
<!--            <div class="wrap-content zerogrid ">-->
<!--                <div class='embed-container maps'>-->
<!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434"-->
<!--                            width="100%" height="370px" frameborder="0" style="border: 0"></iframe>-->
<!--                </div>-->
<!--                <article class="background-gray">-->
<!--                    <div class="art-header">-->
<!--                        <hr class="line-2">-->
<!--                        <h2>Contact form</h2>-->
<!--                    </div>-->
<!--                    <div class="art-content">-->
<!--                        <div class="row">-->
<!--                            <div id="contact_form">-->
<!--                                <form name="form1" id="ff" method="post" action="contact.php">-->
<!--                                    <label class="row">-->
<!--                                        <div class="col-1-2">-->
<!--                                            <div class="wrap-col">-->
<!--                                                <input type="text" name="name" id="name" placeholder="Enter name"-->
<!--                                                       required="required"/>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-1-2">-->
<!--                                            <div class="wrap-col">-->
<!--                                                <input type="email" name="email" id="email" placeholder="Enter email"-->
<!--                                                       required="required"/>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </label>-->
<!--                                    <label class="row">-->
<!--                                        <div class="wrap-col">-->
<!--                                            <input type="text" name="subject" id="subject" placeholder="Subject"-->
<!--                                                   required="required"/>-->
<!--                                        </div>-->
<!--                                    </label>-->
<!--                                    <label class="row">-->
<!--                                        <div class="wrap-col">-->
<!--													<textarea name="message" id="message" class="form-control" rows="4"-->
<!--                                                              cols="25" required="required"-->
<!--                                                              placeholder="Message"></textarea>-->
<!--                                        </div>-->
<!--                                    </label>-->
<!--                                    <center><input class="sendButton" type="submit" name="Submit" value="Submit">-->
<!--                                    </center>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </article>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<section class="section">
    <ul class="list-icon-items clearfix no-margins">
        <li class="grid-3 secondary alpha">
            <a class="js-track" href="/cdn-cgi/l/email-protection#c3aba6afafac83a1b6aaafb7a1baa1b6a5a5a2afaceda0acae"
               data-track-action="email submission" data-track-category="contact">
                <i class="circ large icon tertiary">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="icon__border"
                              d="M15 .5A14.5 14.5 0 1 1 .5 15 14.516 14.516 0 0 1 15 .5m0-.5a15 15 0 1 0 15 15A15 15 0 0 0 15 0z"
                              fill="currentColor"/>
                        <g data-name="Solid Coloiur" fill="currentColor">
                            <circle cx="14.412" cy="20.688" r=".238"/>
                            <circle cx="15.588" cy="20.688" r=".238"/>
                        </g>
                        <path opacity=".2"
                              d="M18.8 11.506v3.72l2.445-1.669-2.445-2.051zm-2.175-1.879h-3.36l1.548-1.365h.437l1.375 1.365zm-5.55 1.879v3.699l-2.463-1.603 2.463-2.096z"
                              fill="currentColor"/>
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width=".4">
                            <path d="M21.388 21.738H8.612a.43.43 0 0 1-.43-.43v-7.276a.43.43 0 0 1 .43-.43l5.818 3.652a1.073 1.073 0 0 0 1.14 0l5.818-3.652a.43.43 0 0 1 .43.43v7.276a.43.43 0 0 1-.43.43z"/>
                            <path d="M11.15 15.205v-5.106a.472.472 0 0 1 .472-.472h6.756a.472.472 0 0 1 .472.472v5.106m-7.7-3.766l-2.446 2.163m8.043-4.022l-1.301-1.15a.673.673 0 0 0-.892 0l-1.29 1.14m8.032 4.032l-2.446-2.163M8.308 21.611l4.912-5.116m8.455 5.1l-4.895-5.1m-4.515-5.687h4.066m.784 0h.336m-5.186 1.077h3.089m-3.089 2.149h3.089m-3.089-1.044h4.066m.784 0h.336m-4.811 3.14h2.714m-3.089-1.045h4.066m.784 0h.336m-8.609 3.121h-.661m.661-1.072h-.661"/>
                        </g>
                    </svg>
                </i>
                <h4 class="secondary">Email</h4>
                <p>
                    <span class="pseudo-link"><span class="__cf_email__"
                                                    data-cfemail="721a171e1e1d3210071b1e06100b10071414131e1d5c111d1f">[email&#160;protected]</span></span>
                </p>
            </a>

        <li class="grid-3 secondary">
            <a href="/planner">
                <i class="circ large icon tertiary">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="icon__border"
                              d="M15 .5A14.5 14.5 0 1 1 .5 15 14.516 14.516 0 0 1 15 .5m0-.5a15 15 0 1 0 15 15A15 15 0 0 0 15 0z"
                              fill="currentColor"/>
                        <path d="M10.527 19.604v2.122h-1.55l-.882-.208-.618-.619a7.885 7.885 0 0 0-.157-.886 2.94 2.94 0 0 1 .111-.752l.483-.634.781-.254h.813l.49.436z"
                              fill="currentColor" opacity=".2"/>
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width=".4">
                            <path d="M10.679 10.03h11.584a.459.459 0 0 1 .458.459V20.98a.618.618 0 0 1-.618.618H8.918M7.299 19.32v-8.831"/>
                            <path d="M8.918 21.599a1.619 1.619 0 0 1-1.619-1.62v-9.896a1.619 1.619 0 0 1 1.62-1.619 1.619 1.619 0 0 1 1.618 1.62v9.896m.021-.095a1.64 1.64 0 0 0-3.28 0m3.28-8.299h.15"/>
                            <path stroke-dasharray="0.2747 1.8313" d="M12.539 11.586h7.509"/>
                            <path d="M20.963 11.586h.15v.15"/>
                            <path stroke-dasharray="0.16221 1.0814" d="M21.113 12.818v.702"/>
                            <path d="M21.113 14.061v.15h-.15"/>
                            <path stroke-dasharray="0.27553 1.83686" d="M19.126 14.211h-7.531"/>
                            <path d="M10.677 14.211h-.15m.031 1.386h1.89v2.649h-1.89m7.712-2.649h2.844v2.649H18.27zm-1.489 2.499v.15h-.15"/>
                            <path stroke-dasharray="0.17747 1.18314" d="M15.447 18.246h-.769"/>
                            <path d="M14.087 18.246h-.15v-.15"/>
                            <path stroke-dasharray="0.16389 1.09263" d="M13.937 17.003v-.71"/>
                            <path d="M13.937 15.747v-.15h.15"/>
                            <path stroke-dasharray="0.17747 1.18314" d="M15.27 15.597h.769"/>
                            <path d="M16.631 15.597h.15v.15"/>
                            <path stroke-dasharray="0.16389 1.09263" d="M16.781 16.839v.71"/>
                            <path d="M18.27 19.206h2.843m-2.843.96h.787m.885 0h.515m-6.52-.96h2.844m-2.844.96h.788m.884 0h.516m-5.598-.96h1.921m-1.172.96h.516m7.31-2.696l1.146-1.067m-1.107-.04l1.068 1.146m-9.682-.039l1.146-1.067m-1.106-.04l1.067 1.146"/>
                        </g>
                    </svg>
                </i>
                <h4 class="secondary">Project planner</h4>
                <p>
                    <span class="pseudo-link">Launch it</span>
                </p>
            </a>

        <li class="grid-3 secondary">
            <a class="js-track" href="https://instagram.com/builtbybuffalo" data-track-action="instagram follow"
               data-track-category="contact">
                <i class="circ large icon tertiary">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <path class="icon__border"
                              d="M14.957.5A14.5 14.5 0 1 1 .457 15 14.516 14.516 0 0 1 14.957.5m0-.5a15 15 0 1 0 15 15 15 15 0 0 0-15-15z"
                              fill="currentColor"/>
                        <g data-name="Solid Coloiur" fill="currentColor">
                            <circle cx="10.462" cy="10.498" r=".281"/>
                            <circle cx="19.453" cy="19.503" r=".281"/>
                        </g>
                        <path d="M20.66 10.14v9.36l-.07.49-.34.47-.49.33h-7.22a7.541 7.541 0 0 1 2.11-.17c6.43 0 5.9-10.4 5.9-10.4z"
                              fill="currentColor" opacity=".2"/>
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width=".4">
                            <rect x="9.165" y="9.208" width="11.585" height="11.585" rx="1.275" ry="1.275"/>
                            <circle cx="14.957" cy="15" r="2.417"/>
                            <circle cx="18.614" cy="11.428" r=".594"/>
                            <path d="M9.165 17.471h.661m-.661 1.072h.661"/>
                        </g>
                    </svg>
                </i>
                <h4 class="secondary">Instagram</h4>
                <p>
                    <span class="pseudo-link">Follow us</span>
                </p>
            </a>

        <li class="grid-3 secondary omega">
            <a class="js-track" href="https://calendly.com/dangriffiths" data-track-action="calendar booking"
               data-track-category="contact">
                <i class="circ large icon tertiary">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <style>
                            .st0,.st1{fill:currentColor}.st1{opacity:.2}.st2,.st9{fill:none;stroke:currentColor;stroke-width:.4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st9{stroke-width:.4609}

                        </style>
                        <path class="st0 icon__border"
                              d="M15 .5C23 .5 29.5 7 29.5 15S23 29.5 15 29.5.5 23 .5 15 7 .5 15 .5m0-.5C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0z"
                              id="Circle"/>
                        <g id="Shading">
                            <path class="st1"
                                  d="M7.6 7.2h1v2.9h-1zM11 7.2h1v2.9h-1zM14.4 7.2h1v2.9h-1zM17.9 7.2h1v2.9h-1zM21.4 7.2h1v2.9h-1z"/>
                            <path class="st1"
                                  d="M24.2 9.4l-.1-.6-1.5-.1v-.9l-.3-.2s.2 1.6.2 2c0 .5-.3.4-.5.6v.1c-.2 1.3-.5 3-1 4.6.1-.1.2-.1.3-.1.3 0 .5.2.5.5s-.2.5-.5.5c-.2 0-.3-.1-.4-.3-.9 3.1-2.2 5.8-4.1 5.8l2.9.3 4-.2.4-.2.1-.3V9.4zm-3 8.4c-.2 0-.4-.2-.4-.4s.2-.4.4-.4.4.2.4.4-.2.4-.4.4z"/>
                            <path class="st0" d="M21 14.9c-.1.2-.1.4-.2.6v-.2c0-.2 0-.3.2-.4z"/>
                        </g>
                        <g id="Lines">
                            <path class="st2"
                                  d="M7.5 8.6h-1c-.4 0-.7.4-.7.7v11.3c0 .4.3.7.7.7h17c.4 0 .7-.3.7-.7V9.3c0-.4-.3-.7-.7-.7h-1M11 8.6H8.7M14.4 8.6h-2.3M17.9 8.6h-2.4M21.4 8.6H19M24.2 13h-.6M24.2 11.9h-.6"/>
                            <path class="st9"
                                  d="M8.2 7.2h-.3c-.2 0-.4.2-.4.4v2.2c0 .2.2.4.4.4h.3c.2 0 .4-.2.4-.4V7.5c0-.2-.2-.3-.4-.3zM11.7 7.2h-.3c-.2 0-.4.2-.4.4v2.2c0 .2.2.4.4.4h.3c.2 0 .4-.2.4-.4V7.5c0-.2-.2-.3-.4-.3zM15.1 7.2h-.3c-.2 0-.4.2-.4.4v2.2c0 .2.2.4.4.4h.3c.2 0 .4-.2.4-.4V7.5c0-.2-.2-.3-.4-.3zM18.6 7.2h-.3c-.2 0-.4.2-.4.4v2.2c0 .2.2.4.4.4h.3c.2 0 .4-.2.4-.4V7.5c0-.2-.2-.3-.4-.3zM22.1 7.2h-.3c-.2 0-.4.2-.4.4v2.2c0 .2.2.4.4.4h.3c.2 0 .4-.2.4-.4V7.5c-.1-.2-.2-.3-.4-.3z"/>
                            <path class="st2" d="M11 11.3h8"/>
                            <g>
                                <circle class="st2" cx="8.8" cy="13.1" r=".4"/>
                                <circle class="st2" cx="11.9" cy="13.1" r=".4"/>
                                <circle class="st2" cx="15" cy="13.1" r=".4"/>
                                <circle class="st2" cx="18.1" cy="13.1" r=".4"/>
                                <circle class="st2" cx="21.2" cy="13.1" r=".4"/>
                                <g>
                                    <circle class="st2" cx="8.8" cy="15.3" r=".4"/>
                                    <circle class="st2" cx="11.9" cy="15.3" r=".4"/>
                                    <circle class="st2" cx="15" cy="15.3" r=".4"/>
                                    <circle class="st2" cx="18.1" cy="15.3" r=".4"/>
                                    <circle class="st2" cx="21.2" cy="15.3" r=".4"/>
                                </g>
                                <g>
                                    <circle class="st2" cx="8.8" cy="17.4" r=".4"/>
                                    <circle class="st2" cx="11.9" cy="17.4" r=".4"/>
                                    <circle class="st2" cx="15" cy="17.4" r=".4"/>
                                    <circle class="st2" cx="18.1" cy="17.4" r=".4"/>
                                    <circle class="st2" cx="21.2" cy="17.4" r=".4"/>
                                </g>
                                <g>
                                    <circle class="st2" cx="8.8" cy="19.5" r=".4"/>
                                    <circle class="st2" cx="11.9" cy="19.5" r=".4"/>
                                    <circle class="st2" cx="15" cy="19.5" r=".4"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </i>
                <h4 class="secondary">Calendly</h4>
                <p>
                    <span class="pseudo-link">Book a chat</span>
                </p>
            </a>

    </ul>
</section>

<section class="section">
    <hr class="grid-2 center"/>
    <h2>Find us</h2>

    <div class="grid-14 center">
        <div id="map-find-us" class="map">
            <div id="mapbox-map" class="mapbox-map"></div>
            <div class="info">
                <a href="#" class="info-close ss-icon ss-standard">&#x2421;</a>
                <div class="info-inner">

                </div>
            </div>
            <a href="#" class="zoomer zoomin">+</a>
            <a href="#" class="zoomer zoomout">-</a>
            <a class="map-fullscreen" href="#fullscreen"></a>
        </div>

        <ul class="map-lower clearfix">
            <li class="grid-10 alpha">
                <h3>From Brighton railway station</h3>

                <p class="visit-note">We are now a remote working agency but are sometimes in the office. Please contact
                    to visit rather than being disappointed!</p>

                <ul class="directions">
                    <li>Walk down Queen’s Road towards the seafront past the clocktower onto West Street</li>
                    <li>Turn left onto Duke Street</li>
                    <li>This turns into Ship Street and bends round</li>
                    <li>Turn left into Prince Albert Street and then left a bit further along into Nile Street. Nile
                        House is on the left.
                    </li>
                </ul>
            </li>
            <li class="grid-6 omega">
                <h3>Our address</h3>

                <div itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="name" content="Buffalo"/>

                    <div itemscope itemtype="http://schema.org/PostalAddress">
                        <ul itemprop="address">
                            <li itemprop="name">Built By Buffalo</li>
                            <li itemprop="streetAddress">Nile House</li>
                            <li itemprop="streetAddress">Nile Street</li>
                            <li itemprop="addressRegion">Brighton</li>
                            <li itemprop="postalCode">BN1 1HW</li>
                        </ul>

                        <meta itemprop="addressCountry" content="United Kingdom"/>
                        <meta itemprop="email" content="hello@builtbybuffalo.com"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}