{% extends "base.html" %}
{% load static %}

{% block title_content %}
History
{% endblock %}

{% block page_content %}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Foundation of the company.</h2>
        <p class="lead">The idea to found the company belonged to school friends Maria Turner and Tom Smith. Friends
            studied at the faculty of business at one of the famous universities in America. After graduation, they lost
            contact with each other and worked in business companies located in different parts of America. After the
            meeting of the graduates, their communication resumed and they began to develop a plan of their own company
            creation. On September 2019 the first office of the company was opened.</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'about/history_2.jpg' %}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Development of the company.</h2>
        <p class="lead">With Tom's uncle support, their office were expanded, new employees were hired, and a second
            headquarters was opened on a New York business street. The company officially incorporates as BUSINETWORK.
            In cooperation with construction companies and technology companies, the first shop for technical equipment
            was opened on April 2019.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'about/history_1.jpg' %}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Company modernization.</h2>
        <p class="lead">BUSINETWORK became a publicly traded company. On July 2020 the BUSINETWORK Foundation was
            established. The company replaced cash registers with computerized point-of-sale systems, enabling fast and
            accurate checkout.
            Was opened the first BUSINETWORK Supercenter, combining general merchandise and a full-scale supermarket to
            provide one-stop shopping convenience. BUSINETWORK.com was founded, allowing customers to shop online. </p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'about/history_3.jpg' %}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">The current stage of the company.</h2>
        <p class="lead">At present, BUSINETWORK has 12 headquarters, 1200 stores and more than 1million associates. The
            company is engaged in active social activities, takes part in meetings and conferences on different topics
            such as business, finance, investment, innovation, technology and many others. The company's services,
            according to statistics for 2021, are used by 19.6% of the world's population.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'about/history_4.jpg' %}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">
    </div>
</div>

{% endblock %}