{% extends "base.html" %}
{% load static %}

{% block title_content %}
BUSINETWORK site
{% endblock %}

{% block page_content %}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'about/slide_10.jpg' %}" alt="picture_1" width="100%" height="90%" aria-hidden="true">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Do you have any questions?</h1>
                    <p>You can ask us about everything you interested in.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'ask' %}">ASK</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'about/slide_20.jpg' %}" alt="picture_2" width="100%" height="90%" aria-hidden="true">
        </div>

        <div class="carousel-item">
            <img src="{% static 'about/slide_30.jpg' %}" alt="picture_1" width="100%" height="90%" aria-hidden="true">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>The laptop to you taste</h1>
                    <p>In our stores you can find a laptop to your taste</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'shop' %}">See</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>
<br>

<!-- Three columns of text below the carousel -->
<div class="row" align="center">
    <div class="col-lg-4">
        <img class="bd-img rounded-circle" width="140" height="140" src="{% static 'about/shop_1.jpg' %}" alt="shop_1">

        <h2 class="fw-normal">News of the company</h2>
        <p>You can see all news here.</p>
        <p><a class="btn btn-secondary" href="{% url 'news' %}">See</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-img rounded-circle" width="140" height="140" src="{% static 'about/photo.jpg' %}" alt="shop_1">
        <h2 class="fw-normal">Work and promotion</h2>
        <p>Everything about a career in our company.</p>
        <p><a class="btn btn-secondary" href="{% url 'career' %}">See</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-img rounded-circle" width="140" height="140" src="{% static 'about/shop_2.jpg' %}" alt="shop_1">
        <h2 class="fw-normal">How to contact us?</h2>
        <p>Phone number, email, address...All is here.</p>
        <p><a class="btn btn-secondary" href="{% url 'contacts' %}">Contact us</a></p>
    </div><!-- /.col-lg-4 -->

</div><!-- /.row -->


<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Economic Opportunity</h2>
        <p class="lead">BUSINETWORK is committed to making retail a place of inclusive and equitable opportunity where
            people, regardless of where they start, can gain the skills and experiences they need to advance in their
            careers. Doing so allows us to attract, develop and retain the talent we need to deliver our distinctive
            omni-channel customer proposition. We also believe that investing in frontline retail workers creates value
            beyond BUSINETWORK. Communities need good entry-level jobs at competitive wages to provide pathways for workers
            to acquire skills and advance all while helping to sustain local economies.</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'about/img_6.jpg' %}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">

    </div>
</div>


{% endblock %}
