{% extends "base.html" %}

{% block title_content %}
News
{% endblock %}

{% block page_content %}

<h1 align="center">News</h1>

<form class="d-flex" method="post" action="{% url 'search_news' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search for the title of the news" aria-label="Search"
           name="searched">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    {% for one in news %}
    <div class="col-md-4">
        <img class="card-img-top" src="{{ one.image.url }}">
        <div class="card-body">

            <h4>{{ one.title }}</h4>
            <h6>{{ one.category }}</h6>
            <p>{{ one.date }}</p>
            <a href="{% url 'news_more' one.pk %}" class="btn btn-primary">
                Read more
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}