{% extends "base.html" %}

{% block title_content %}
Search
{% endblock %}

{% block page_content %}


{% if searched %}
<h1 align="center">You Searched for {{ searched }}</h1>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    {% for one in news %}
    <div class="col-md-4">
        <img class="card-img-top" src="{{ one.image.url }}">
        <div class="card-body">

            <h4>{{ one.title }}</h4>
            <h6>{{ one.category }}</h6>
            <p>{{ one.date }}</p>
            <a href="{% url 'news_more' one.pk %}" class="btn btn-primary">
                Read more
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<h1 align="center">Did you forget to search?</h1>
{% endif %}


{% endblock %}