{% extends "base.html" %}

{% block title_content %}
Shop
{% endblock %}

{% block page_content %}

<form class="d-flex" method="post" action="{% url 'search_brand' %}">
    {% csrf_token %}

    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="searched">
        <option selected>Brands</option>
        {% for laptop in laptops %}
        <option value="{{ laptop.brand }}">{{ laptop.brand }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
<br>

{% for laptop in laptops %}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1"><a href="{% url 'goods_more' laptop.pk %}">{{ laptop.name }}</a>
        </h3>
        <p class="lead">
        <table>
            <tr>
                <td class='result__attr_var'>Brand</td>
                <td class='result__attr_val'>{{ laptop.brand }}</td>
            </tr>
            <tr>
                <td class='result__attr_var'>Screen Size</td>
                <td class='result__attr_val'>{{ laptop.screen_size }}</td>
            </tr>
            <tr>
                <td class='result__attr_var '>Color</td>
                <td class='result__attr_val '>{{ laptop.color }}</td>
            </tr>
            <tr>
                <td class='result__attr_var'>Hard Disk Size</td>
                <td class='result__attr_val'>{{ laptop.hard_disk_size }}</td>
            </tr>
            <tr>
                <td class='result__attr_var '>CPU Model</td>
                <td class='result__attr_val '>{{ laptop.cpu_model }}</td>
            </tr>
            <tr>
                <td class='result__attr_var'>Ram Memory Installed Size</td>
                <td class='result__attr_val'>{{ laptop.ram_memory_installed_size }}</td>
            </tr>
            <tr>
                <td class='result__attr_var '>Operating System</td>
                <td class='result__attr_val '>{{ laptop.operation_system }}</td>
            </tr>
            <tr>
                <td class='result__attr_var'>Graphics Card Description</td>
                <td class='result__attr_val'>{{ laptop.graphics_card_description }}</td>
            </tr>
        </table>
        <h4><strong>Price: $</strong>{{ laptop.price }}</h4>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{ laptop.image_1.url }}" alt="about"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500">
    </div>
</div>
{% endfor %}


{% endblock %}

