{% extends "base.html" %}

{% block title_content %}
Career
{% endblock %}

{% block page_content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'career' %}">Career</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="{% url 'vacancies' %}">Vacancies in the company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'apply' %}">Apply to the company</a>
            </li>
        </ul>
    </div>
</div>
<div class="card-body">
    <h5 class="card-title" align="center">{{ vacancy.name }}</h5>
    <br>
    <p class="card-text">
        Responsibilities: {{ vacancy.responsibilities }}
        <br>
        <strong>Income: $ {{ vacancy.income }}</strong>
        <br>
        Timetable: {{ vacancy.timetable }}
        <br>
        Additional requirements: {{ vacancy.additional_requirements }}
        <br>
        Opportunity to work from home: {{ vacancy.opportunity_to_work_from_home }}
    </p>

</div>


{% endblock %}